$primaryColor:#ff493f;
$headerColor:#535353;
$largeTextColor:#959595;
$textColor:#666666;
$borderColor:#a5a5a5;

body {
  background-color:#f0f0f0;
  font-family:'Open Sans', sans-serif;
  color:$textColor;
}
a {
  color:$textColor;
}
a:hover {
  color:$textColor;
  text-decoration:none;
}
img.streetView {
  min-height: 300px;
}
input, textarea {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
textarea {
  padding:15px;
  width:100%;
  color:$textColor;
}
.glyphicon {
  color:$primaryColor;
}
nav {
  background-color:#f7f7f7;
}
nav.navbar {
  border:0;
  border-radius:0;
  margin-bottom:0;
}
.navbar {
 .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    width:100%;
    min-height:50px;
    width:100%;
  }
  .container * {
    -webkit-flex-grow:1;
    flex-grow:1;
  }
  a {
    color:$primaryColor;
  }
  .glyphicon {
    font-size:1.3em;
  }
  .back {
    margin-right:auto;
    position:relative;
  }
  .back-label {
    position:absolute;
    left:25px;
    top:-10px;
  }
  .title {
    color:$largeTextColor;
    text-transform:uppercase;
    text-align:center;
    flex-grow:1;
  }
  .glyphicon-search.inside-input {
    position:absolute;
    margin-top:15px;
    margin-left:5px;
  }
  .glyphicon-search {
    text-align:right;
  }
  input[type="text"] {
    background-color:rgb(221,221,221);
    border:0;
    border-radius:6px;
    color:$primaryColor;
    line-height:2em;
    padding-left:30px;
    padding-right:30px;
    width:80%;
  }
  input[type="text"]::-webkit-input-placeholder {
    color:rgb(157, 156, 165);
    padding-left:5px;
  }
  .twitter-typeahead, .tt-dropdown-menu {
    width:100%;
  }
  .tt-dropdown-menu {
    background-color:darken($primaryColor, 20%);
  }
  .tt-suggestion {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
  }
}
em {
  font-weight:900;
  font-style:normal;
}
h1 {
  font-weight:600;
  margin:0;
}
h2 {
  font-weight:100;
  margin-top:0;
  margin-bottom:0;
  text-transform:capitalize;
}
h1, h2, h3 {
  font-size:1.2em;
  margin:0;
}
button {
  background-color:white;
  border:1px solid $primaryColor;
  color:$primaryColor;
  display:block;
  margin-top:10px;
}
.waiting button, button.selected {
  background-color:$primaryColor;
  color:white;
}
.logo {
  width:70%;
  margin:0 auto;
  text-align:center;
}
.logo {
  h1 {
    margin-top:30px;
    font-weight:100;
  }
  img {
    margin:0 auto;
    margin-top:45px;
  }
}
.chevron {
  border:2px solid $primaryColor;
  margin-top:-.8em;
  min-height:20px;
  position:absolute;
  top:50%;
  width:20px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}
.chevron.left {
  border-top-style:none;
  border-right-style:none;
}
.chevron.right {
  border-bottom-style:none;
  border-left-style:none;
  right:15px;
}
.row {
  color:$textColor;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  position:relative;
}
.row.street-view, .row.map {
  border-top:0;
  padding:0;
  position:relative;
}
.row.street-view img {
  width:100%;
}
.row.main-review, .row .review {
  background-color:white;
}
.row.review {
  color:$largeTextColor;
  font-size:1.1em;
  padding-top:30px;
  padding-bottom:30px;
  text-align:center;
}
.review .review-author, .review .review-text {
  padding:20px;
}
.review .review-author {
  border-top:1px solid $borderColor;
}
.row.review .quote, button {
  margin:0 auto;
  margin-left:auto;
  padding-top:10px;
  padding-bottom:15px;
  width:90%;
}
.row.data-row, .row.ugc-row {
  h2, .border, ul, p {
    margin-left:6%;
    width:94%;
  }
  h2 {
    font-size:1.1em;
    font-weight:700;
  }
  .border {
    border-bottom:1px solid $borderColor;
    bottom:0;
    margin-left:4%;
    min-height:1px;
    position:absolute;
    width:90%;
  }
}
.row ul {
  list-style-type:none;
  padding-left:0;
}
.row ul, .row p {
  margin-bottom:0;
}
.row time {
  display:block;
  font-size:.8em;
}
.row #search-map {
  min-height:350px;
}
.row p.violation-description {
  margin-top:1em;
}
.ugc-row#ugc-first {
  border-top:1px solid $borderColor;
}
.ugc-row {
  div {
    padding-left:0;
    padding-right:0;
    padding-top:10px;
    padding-bottom:10px;
  }
  p {
    font-style:italic;
  }
}

textarea {
  border:1px solid $textColor;
  color:$textColor;
  padding:15px;
  padding-top:5px;
  padding-bottom:5px;
  resize:none;
  width:100%;
}
input.name {
  border:1px solid $textColor;
  line-height:2em;
  padding-left:15px;
  padding-right:15px;
  width:100%;
}
.input-title {
  margin:0 auto;
  width:80%;
}
.input-title h2 {
  text-transform:none;
}
.button-group {
  width:100%;
}
.button-group button {
  border-right:none;
  float:left;
  min-height:25px;
  padding:0;
  width:33%;
}
.button-group button:last-child {
  border-right:1px solid $primaryColor;
}

.map {
  display:none;
}

@media all and (min-width: 769px) {

  .desktop-col {
    float:left;
    margin-top:20px;
    width:40%;
  }
  .desktop-col .map {
    display:block;
    margin-top:40px;
  }
  .desktop-col.data {
    margin-left:20%;
  }
  .desktop-col .row.review {
    padding-top:0;
  }
  .desktop-col .row.review .quote {
    padding-top:0;
  }
  #ugc-first {
    padding-left:45px;
  }

}

.yellow-color{
    background-color: #fcf175;
  }

.red-link{
    color: #ff493f;
}
