.primary-color {
  color:rgb(74, 179, 236);
}
.btn {
  border-color:rgb(74, 179, 236);
}
.btn-primary {
  background-color:rgb(74, 179, 236);
}

body {
  padding-top:40px;
}

.navbar {
  background-color:rgb(74, 179, 236);
  color:white;
  text-align:center;
}

.row {
  margin-left:4px;
  margin-right:4px;
}

h1 {
  font-size:1.3em;
}

.data-summary {
  padding-top:14px;
  padding-bottom:14px;
}
.data-summary a, .data-summary a:visited {
  color: black;
  text-decoration:none;
}
.data-summary .data-title {
  font-size:1.6em;
  margin-right:4px;
}
