body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(155, 166, 177);
}
.primary-color, .row h1, .row h2, .row span.glyphicon, button {
  color:rgb(66, 179, 228);
}
nav {
  background-color:rgb(66, 179, 228);
  color:white;
}
nav.navbar {
  border:0;
  border-radius:0;
  margin-bottom:0;
}
.navbar .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items:center;
  align-items:center;
  -webkit-justify-content:flex-end;
  justify-content:flex-end;

  min-height:50px;
  width:100%;
}
.navbar .container span {
  font-size:1.3em;
}
h1 {
  font-weight:600;
  margin:0;
}
h2 {
  font-weight:100;
  margin-top:0;
  margin-bottom:0;
}
h1, h2 {
  font-size:1.4em;
}
.row {
  border-top:1px solid rgb(237, 237, 240);
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  position:relative;
}
.row.street-view {
  border-top:0;
  padding:0;
  position:relative;
}
.row.street-view img {
  width:100%;
}
.row.street-view .quote {
  background-color: rgba(0,0,0,.4);
  color:white;
  padding-top:4px;
  padding-bottom:4px;
  position:absolute;
  text-align:center;
  top:80%;
  width:100%;
}
.row button {
  background-color:transparent;
  border:1px solid rgb(66, 179, 228);
  border-radius:4px;
  float:right;
  padding-left:14px;
  padding-right:14px;
  padding-top:6px;
  padding-bottom:6px;
}
.row ul {
  list-style-type:none;
  padding-left:0;
}
.row ul, .row p {
  margin-bottom:0;
}
.row ul time {
  display:block;
  font-size:.8em;
}
.row span.glyphicon-chevron-right {
  position:absolute;
  top:50%;
  right:8%;
  margin-top:-.5em;
}
