<div>
  <nav class="nav navbar">
    <div class="container">
      <input type="text" class="typeahead" name="address-search" id="address-search" placeholder="Search for address in Chattanooga">
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <h1>Saved Searches</h1>
    </div>
    <div class="row saved-search">
      <a href="#homes/23">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        <h2>2964 E 3rd Street</h2>
        <p>Chattanooga, TN</p>
      </a>
    </div>
    <div class="row saved-search">
      <a href="#homes/23">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        <h2>2964 E 3rd Street</h2>
        <p>Chattanooga, TN</p>
      </a>
    </div>
    <div class="row saved-search">
      <a href="#homes/23">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        <h2>2964 E 3rd Street</h2>
        <p>Chattanooga, TN</p>
      </a>
    </div>
    <div class="row saved-search">
      <a href="#homes/23">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        <h2>2964 E 3rd Street</h2>
        <p>Chattanooga, TN</p>
      </a>
    </div>
  </div>
</div>
