<div>
  <nav class="nav navbar">
    <div class="container">
      <input type="text" class="typeahead" name="address-search" id="address-search" placeholder="Search for address in Chattanooga">
    </div>
  </nav>
  <div class="container">
    <div class="intro-text">
      <h1>Welcome to BestNest!</h1>
      <p>The goal is to help renters in town learn more about the homes they want to rent.</p>
      <p>We do that by showing things you'd like to know such as:</p>
      <ul>
        <li>who owns the home</li>
        <li>any code violations on the home</li>
        <li>public transit options from that home</li>
        <li>& more coming soon!</li>
      </ul>
      <h2>Try it out!</h2>
      <p>Go ahead and search for an address in Chattanooga. When you're done we'd love to hear what you think.<p>
    </div>
  </div>
  <div class="feedback-alert">
    <a href="https://giselle2.typeform.com/to/WxsQPv">Send us feedback</a>
  </div>
</div>
