@!()
<div>
  <nav class="nav navbar">
    <div class="container">
      <span class="back">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="back-label">Back</span>
      </span>
      <span class="title">Address</span>
      <span>Done</span>
    </div>
  </nav>
  <div class="container">
    <div class="row input-title">
      <h2>Do you have any tips for future renters?</h2>
    </div>
    <div class="row">
      <textarea rows="5">Share here</textarea>
    </div>
    <div class="row">
      <button>Leave your review</button>
    </div>
  </div>
</div>
