@!(home)
<div>
  <nav class="nav navbar">
    <div class="container">
      <span class="back">
        <div class="chevron left"></div>
        <span class="back-label">Back</span>
      </span>
      <span class="title">@home.address</span>
      <span>Done</span>
    </div>
  </nav>
  <div class="container">
    <div class="row input-title">
      <h2>Do you have any tips for future renters?</h2>
    </div>
    <div class="row">
      <textarea rows="5" placeholder="Share here" class="review"></textarea>
      <input type="text" class="name" placeholder="Your name (visible to others)" />
    </div>
    <div class="row">
      <button class="leave-review">Leave your review</button>
    </div>
  </div>
</div>
