@!(model, config)
<div class="container">
  @if (config.searchBar) {
    <span class="glyphicon glyphicon-search inside-input"></span>
    <input type="text" class="typeahead" name="address-search" id="address-search" placeholder="Search">
  }
  else {
    @if (config.back) {
    <span class="back">
      <div class="chevron left"></div>
      <span class="back-label">Back</span>
    </span>
    }
    else if (config.cancel) {
    <span class="cancel">Cancel</span>
    }

    @{
      title = config.title(model)
    }
    <span class="title">@title</span>

    @if ((config.searchIcon &! config.done) || (config.searchIcon && config.done)) {
      <a href="#" class="glyphicon glyphicon-search pull-right">
      </a>
    }
    else if (config.done) {
      <span class="done pull-right">Done</span>
    }
    else if (config.post) {
      <span class="post pull-right">Post</span>
    }
  }
</div>
