@!()
<div class="container">
  <div class="row input-title">
    <h2>Thanks! Other renters appreciate your comments.</h2>
  </div>
  <div class="row input-title">
    <h2>Does this rental allow pets?</h2>
  </div>
  <div class="row">
    <div class="button-group" rel="pets-allowed">
      <button>Yes</button>
      <button>No</button>
      <button>Not sure</button>
    </div>
  </div>
  <div class="row input-title">
    <h2>What type of lease is available?</h2>
  </div>
  <div class="row">
    <div class="button-group" rel="lease">
      <button>Short-term</button>
      <button>Year</button>
      <button>Not sure</button>
    </div>
  </div>
  <div class="row input-title">
    <h2>What type of heat?</h2>
  </div>
  <div class="row">
    <div class="button-group" rel="heat">
      <button>Gas</button>
      <button>Electric</button>
      <button>Not sure</button>
    </div>
  </div>
</div>
