@!()
<div>
  <nav class="nav navbar">
    <div class="container">
      <span class="back">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="back-label">Back</span>
      </span>
      <span class="title">Reviews</span>
      <span class="glyphicon glyphicon-search"></span>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <button>Share your tips about this rental</button>
    </div>
    <div class="row">
      <div class="review">
        <div class="review-text">
          "This is a great place to live, I can't say enough nice things about the house or about the landlord Betty. The old dishwasher broke and she had a new one working the next day!"
        </div>
        <div class="review-author">
          <div class="author">
            Julie Robinson
          </div>
          <div class="date">
            Jan 30, 2014
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="review">
        <div class="review-text">
          "This is a great place to live, I can't say enough nice things about the house or about the landlord Betty. The old dishwasher broke and she had a new one working the next day!"
        </div>
        <div class="review-author">
          <div class="author">
            Julie Robinson
          </div>
          <div class="date">
            Jan 30, 2014
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
