  @!(home)
  <div>
    <nav class="nav navbar">
      <div class="container">
        <a href="#" class="glyphicon glyphicon-search">
        </a>
      </div>
    </nav>
    <div class="container">
      <div class="row street-view">
        <span class="quote">@home.quote</span>
        <img src="http://maps.googleapis.com/maps/api/streetview?size=500x300&location=@home.address,%20chattanooga,%20tn">
      </div>
      <div class="row">
        <button class="save deactivated"></button>
        <h1>@home.address</h1>
        <p>@home.type</p>

      </div>
      @{
        home.data.sort(function (a, b) {
          return a.order - b.order
        })
      }
      @home.data.map(function (dataset) {
        <div class="row">
          @if (dataset.hasDetail) {
            <a href="#/homes/@home.id/@dataset.id">
              <span class="glyphicon glyphicon-chevron-right pull-right"></span>
          }
            <h2>@dataset.label</h2>
            @if (dataset.items) {
              <ul>
                @dataset.items.map(function (item) {
                  <li>
                    @if (typeof item === 'object') {
                      @item.text
                    } else {
                      @item
                    }
                    @if (item.description) {
                      <p>@item.description</p>
                    }
                  </li>
                })
              </ul>
            }
          @if (dataset.hasDetail) {
          </a>
          }
      </div>
      })
      <div class="row">
        <a href="#/landlords/@home.owner.id">
          <span class="glyphicon glyphicon-chevron-right pull-right"></span>
          <h2>Owner</h2>
          <p>@home.owner.name</p>
          <p>@home.owner.streetAddress</p>
          <p>@home.owner.city, @home.owner.state</p>
          <a href="tel:@home.owner.phonePlain">@home.owner.phoneFormatted</a>
        </a>
      </div>

    </div>
    <div class="feedback-alert">
      <a href="https://giselle2.typeform.com/to/LCcoVa">Share what you know about @home.address</a>
    </div>
  </div>
