@!(energyData)


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron yellow-color text-center">
      <div class="container">
        @{
          var yearlyCost = energyData.energyUsage.cost
          var monthlyCost = yearlyCost / 12
        }
        <h1>$@monthlyCost.toFixed(2)</h1>
        <p>monthly estimated total</p>
      </div>
    </div>

    <div class="container">
       <div class="row">
        <div class="col-md-4" style="text-align:center;">
          <h2>For more details call EPB</h2>
          <p><a class="red-link" href="tel:423-648-1372" style="font-size:1.7em;">423-648-1372</a></p>
          <p>Ask EPB for more information about the utility costs at this property and mention that you'd like EPB to open energy data so it can appear in BestNest.</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Code for America 2014</p>
      </footer>
    </div>
