@!(home)
  <nav class="nav navbar">
    <div class="container">
      <span class="back">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="back-label">Back</span>
      </span>
      <span class="title">Utility Costs</span>
      <span class="glyphicon glyphicon-search"></span>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <button class="save deactivated"></button>
      <h1>2964 E 3rd Street</h1>
      <p>Single Family Home</p>
    </div>
    <div class="row">
      <h2><em>$247</em></h2>
      <p>Average monthly utility cost</p>
    </div>
    <div class="row">
      <h2>$363</h2>
      <p>Highest monthly utility cost</p>
    </div>
    <div class="row">
      <h2>Cost Details</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Highest</th>
            <th>Average</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="amount">$140</td>
            <td class="amount">$90</td>
            <td class="energy-type">electricty</td>
          </tr>
          <tr>
            <td class="amount">$72</td>
            <td class="amount">$64</td>
            <td class="energy-type">water</td>
          </tr>
          <tr>
            <td class="amount">$362</td>
            <td class="amount">$247</td>
            <td class="energy-type">total</td>
          </tr>
        </table>
      </table>

      <h3 class="table-heading-like">Electricity cost across the year</h3>
      <svg class="energy-chart"></svg>
    </div>
  </div>
