<div>
  <nav class="nav navbar">
    <div class="container">
      <span class="back">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="back-label">Back</span>
      </span>
      <span class="title">Violations</span>
      <span class="glyphicon glyphicon-search"></span>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <button class="save deactivated"></button>
      <h1>2964 E 3rd Street</h1>
      <p>Single Family Home</p>
    </div>
    <div class="row">
      <h2>Abandoned/inoperable vehicles</h2>
      <time datetime="2014-09-12">Sep 12, 2014</time>
      <p class="violation-description">It is unlawful to maintain an overgrowth of weeds or grass on any lot or upon any space between the curb and sidewalk or upon any space between the sidewalk and the lot line.</p>
    </div>
    <div class="row">
      <h2>Overgrowth on an occupied lot</h2>
      <time datetime="2014-09-12">Sep 12, 2014</time>
      <p class="violation-description">It is unlawful to maintain an overgrowth of weeds or grass on any lot or upon any space between the curb and sidewalk or upon any space between the sidewalk and the lot line.</p>
    </div>
  </div>
</div>
